<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>338155807368-jun8t192vjv3ij7bmqruhjac55aebhvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338155807368-jun8t192vjv3ij7bmqruhjac55aebhvl</string>
	<key>API_KEY</key>
	<string>AIzaSyDfDKWExyDWX60XQR_YvWs7Nx1j5z4sLHI</string>
	<key>GCM_SENDER_ID</key>
	<string>338155807368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>waltboling.ApptTrkr</string>
	<key>PROJECT_ID</key>
	<string>appttrkr-9dcd4</string>
	<key>STORAGE_BUCKET</key>
	<string>appttrkr-9dcd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:338155807368:ios:8b19cf3a89bae53d</string>
	<key>DATABASE_URL</key>
	<string>https://appttrkr-9dcd4.firebaseio.com</string>
</dict>
</plist>
